/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2016, 3:15:25 PM
    Author     : inercio
*/

body{
    background-color: white;
}

header{

    background:url(images/bg.jpg) no-repeat 0% 0% / 100% auto;

}

.headLogin{

    background:url(images/ws_Wood_Floor_bg.jpg) no-repeat 0% 0% / 100% auto;
    padding: 0;

}


.bgLogin{
    margin-top: 100px;
    height: auto;
    background: rgba(1,1,1,.4);
    margin-bottom: 200px;
}

.control-label{
    color: whitesmoke;
}

#checkRemember{
    color: whitesmoke;
}

.lkRegistrar{
    color: whitesmoke;
    text-decoration: none;
    opacity: .8;
    font-family:  'Niconne', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#btCancelar{
    text-decoration: none;
    color: whitesmoke;
}



#btEntrar{
    text-align: center;

    border: 2px solid #f8bd08;

    background-color: #f8bd08;

    color: #fff;

    font-weight: bold;

    font-family: 'Poiret One', cursive;

    padding: 7px 20px;

    opacity: .8;

    font-size: 20px;

    margin-right: 30px;

    margin-top: 10px;

    margin-bottom: 30px;
}

#btCancelar:focus, #btCancelar:hover {

    background-color: #f8bd08 !important;

    color: #333;

}

.lkRegistrar:focus, .lkRegistrar:hover {

    text-decoration: none;
    color: #f8bd08;

}


#btEntrar:focus, #btEntrar:hover {

    border: 2px solid #333 !important;

    background-color: #f8bd08 !important;

    text-align: center;

    color: #fff;

    padding: 7px 20px;

    font-size: 20px;

    color: #333;

}

h2{
    color: whitesmoke;
    letter-spacing: 5px;
    font-size: 65px;
    font-family: 'Niconne', cursive;
}

#subtituloHeader{
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: "Poiret One", sans-serif;
}

.cardapio{
    margin: 0;
}

#meuMenu{
margin-bottom: 30px;
}

.destaque{
    margin-top: 60px;
    background:url(images/bg.jpg) no-repeat 0% 0% / 100% auto;
}

#logoOut{
    text-decoration: none;
    color: #f8bd08;
}

.logo {

    text-align: center;

    color: #FFF;

    padding: 10px;

    border: 2px solid #FFF;

    display: block;

    margin: 60px 0px;

    font-family: "Oxygen", sans-serif;

    font-weight: 400;

    letter-spacing: 5px;

    text-transform: uppercase;

    font-size: 28px;

}

.navi {

    border-bottom: 2px solid rgba(255, 255, 255, 0.4);

    border-top: 2px solid rgba(255, 255, 255, 0.4);

    border-radius: 0px;

    margin-bottom: 0px;

}

.menu {

    display: inline-block;

    margin: 0px !important;

    list-style: none;

    padding-left: 0px !important;

    float: none;

}

.menubox {

    text-align: center;

}

.menu li {

    float: left;

}

.menu li a {

    padding: 20px;

    display: inline-block;

    color: #ccc !important;

    font-family: "Lato", sans-serif;

    font-size: 12px;

    text-transform: uppercase;

    letter-spacing: 3px;

    font-weight: 700;

}



h1{
    margin-bottom: 60px;
     font-size: 64px;
    color: #f8bd08;
    text-align: left;
    font-family: 'Niconne', cursive;
    margin-top: 55px;
    margin-left:  50px;
}


li{
    list-style-type: none;
}

.thumb-info-caption{
    text-align: center;
}

.txtItems{
    margin-top: 10px;
}

.listaDestaque{
    margin-top: 20px;
}

a.thumb-info img {
    -moz-border-radius: 3px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    border-radius: 3px;
    position: relative;
    transition: all 0.2s linear;
}

a.thumb-info {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    max-width: 100%;
}

a.thumb-info span.thumb-info-title {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: rgba(36,27,28, .9);
    bottom: 10%;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    transition: all 0.3s;
    z-index: 1;
}
           
        #tituloMeuPedido{
            text-align: center;
        }

        #tituloReserva{
             font-family: 'Niconne', cursive;
             text-align: center;
             font-size: 54px;
             margin-top: 30px;
             margin-bottom: 30px;
             color: #f8bd08;
        }


         #tituloContacte{
            font-size: 24px;
            color: #f8bd08;
            text-align: left;
            font-family: 'Poiret One', cursive;
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 40px;
        }
        
        
              .bg-4 { 
                background-color: black; /* Black Gray */
                color: #fff;
            }


            #meuPedido{
                height: 250px;
                border: 1px solid #f8bd08;
            }

            #btPedido{
                margin-top: 20px;
                margin-left: 20px;
                 font-family: 'Poiret One', cursive;
                 font-weight: bold;
                font-size: 24px;
                padding: 7px 15px;
            }

            .addCart{
                margin-left: 15px;
                margin-right: 20px;
                background-color: white;
                border: 2px solid #f8bd08;
                color: black;
            }

.row {

    margin: 0px;

}

.socialNet{
    margin-left: 20px;
    opacity: .7;
}

.social{
    margin-left: 5px;
    margin-bottom: 30px;
}

a:focus {

    outline: none;

}

.menu li a:hover, .menu li a:focus {

    text-decoration: none;

    color: #f8bd08 !important;

    background-color:rgba(255, 255, 255, 0.1) !important;

}

.menu li:after {

    color: #f8bd08;

    content: '~';

    display: inline-block;

}

.menu li:last-child:after {

    content: "";

}

.text-banner {

    padding: 120px 0px 200px;

}

    p{
        line-height: 1.5;
    }

.listaProdutos{
    margin-left: 0;
    margin-right: 0;
  max-height:300px;
  overflow-y:auto;
}

.listaItems{
    max-height:240px;
    overflow-y:auto;
}

.menu-list{
    height: 370px;
}

.listaUl{
    padding-left: 0px;
}

.tab-content ul {

    list-style: outside none none;

    padding: 0px;

    margin-bottom: 0px;

}

.tab-content ul li {

    width: 100%;

    display: block;

    float: left;

    border-bottom: 1px dotted rgb(248, 189, 8);

    padding: 20px 0px 8px;

}


.menuname {

    float: left;

}

.price {

    float: right;

}

.nav-tabs {

    border-bottom: 1px solid rgb(248, 189, 8);

}

.nav-tabs > li {

    float: left;

    margin-bottom: -1px;

    background-color: rgb(248, 189, 8);

}

.nav-tabs > li > a {

    margin-right: 2px;

    line-height: 1.42857;

    border: 1px solid transparent;

    color: rgb(255, 255, 255);

    border-radius: 0px;

    margin-right: 0px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    color:#FFF;;

    cursor: default;

    background-color: #FFF;

    border-width: 1px;

    border-style: solid;

    -moz-border-left-colors: none;

    -moz-border-bottom-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    border-image: none;

    border-color: rgb(248, 189, 8) rgb(248, 189, 8) transparent;

    border: none;

}

.nav-tabs > li > a:hover {

    border-color: rgb(248, 189, 8) rgb(248, 189, 8) rgb(248, 189, 8);

    background-color: white;

    color: #FFF;

}




.navbar-default {

    background-color: rgba(255, 255, 255, 0);

    border-color: rgba(255, 255, 255, 0.4);

    border-left: none;

    border-right: none;

}


.forming input {

    border-color: #f8bd08;

    border: 2px solid #f8bd08;

    font-family: "Lato", sans-serif;

    height: 50px;

}

.forming textarea {

    border-color: #f8bd08;

    border: 2px solid #f8bd08;

    font-family: "Lato", sans-serif;

    height: auto;

}

.forming input:focus, .forming textarea:focus {

    border-color: #333;

    box-shadow: none;

    border: 2px solid #333;

}

.forming button, #btEnviar {

    border: 2px solid #f8bd08;

    background-color: #f8bd08;

    text-align: center;

    color: #fff;

    font-weight: bold;

     font-family: 'Poiret One', cursive;

    padding: 7px 20px;

    font-size: 30px;

    margin-bottom: 30px;

}

#btEnviar{
    margin-top: 35px;
    padding: 7px 10px;
    font-size: 20px;
}


.forming button:focus, .forming button:hover {

    border: 2px solid #333 !important;

    background-color: #f8bd08 !important;

    text-align: center;

    color: #fff;

    padding: 7px 20px;

    font-size: 30px;

    color: #333;

}

.contacte, #btEnviar{
    opacity: .8;
}

#btEnviar:focus, #btEnviar:hover {
     border: 2px solid #333 !important;
    background-color: #f8bd08 !important;
    text-align: center;
    color: #fff;
    padding: 7px 10px;
    font-size: 20px;
    color: #333;
}

.form-control {

    padding: 14px 12px;

}


.footer {

    background-color: #333;

    padding: 100px 0px;

}

.address {

    padding: 20px 0px;

}

.address p {

    color: #fff;

    font-family: "Lato", sans-serif;

}

#txtComentario{
    height: 84px;
}


 @media (min-width: 768px) and (max-width: 1420px) {

.logo {

    font-size: 16px;

}

}

@media (min-width: 768px) and (max-width: 990px) {

.navbar {

    min-height: 30px;

}

.menu li a {

    padding: 8px !important;

}

.section-container h3 {

    font-size: 40px;

}

.header-text {

    font-size: 18px;

}



}


.fullbg {

    background-color:rgba(31, 20, 20, 0.8);

}



.logo {

    text-align: center;

    color: #FFF;

    padding: 10px;

    border: 2px solid #FFF;

    display: block;

    margin: 60px 0px;

    margin-left: 60px;

    font-family: "Oxygen", sans-serif;

    font-weight: 400;

    letter-spacing: 5px;

    text-transform: uppercase;

    font-size: 28px;

}

.navi {

    border-bottom: 2px solid rgba(255, 255, 255, 0.4);

    border-top: 2px solid rgba(255, 255, 255, 0.4);

    border-radius: 0px;

    margin-bottom: 0px;

}

.menu {

    display: inline-block;

    margin: 0px !important;

    list-style: none;

    padding-left: 0px !important;

    float: none;

}

.menubox {

    text-align: center;

}

.menu li {

    float: left;

}

.menu li a {

    padding: 20px;

    display: inline-block;

    color: #ccc !important;

    font-family: "Lato", sans-serif;

    font-size: 12px;

    text-transform: uppercase;

    letter-spacing: 3px;

    font-weight: 700;

}

a:focus {

    outline: none;

}

.menu li a:hover, .menu li a:focus {

    text-decoration: none;

    color: #f8bd08 !important;

    background-color:rgba(255, 255, 255, 0.1) !important;

}

.menu li:after {

    color: #f8bd08;

    content: '~';

    display: inline-block;

}

.menu li:last-child:after {

    content: "";

}




.menu-section {

    padding: 100px 0px;

}

.tab-content ul {

    list-style: outside none none;

    padding: 0px;

    margin-bottom: 0px;

}

.tab-content ul li {

    width: 100%;

    display: block;

    float: left;

    border-bottom: 1px dotted rgb(248, 189, 8);

    padding: 20px 0px 8px;

}


.menuname {

    float: left;

}

.price {

    float: right;

}

.nav-tabs {

    border-bottom: 1px solid rgb(248, 189, 8);

}

.nav-tabs > li {

    float: left;

    margin-bottom: -1px;

    background-color: rgb(248, 189, 8);

}

.nav-tabs > li > a {

    margin-right: 2px;

    line-height: 1.42857;

    border: 1px solid transparent;

    color: rgb(255, 255, 255);

    border-radius: 0px;

    margin-right: 0px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    color:#f8bd08;

    cursor: default;

    background-color: #FFF;

    border-width: 1px;

    border-style: solid;

    -moz-border-left-colors: none;

    -moz-border-bottom-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    border-image: none;

    border-color: rgb(248, 189, 8) rgb(248, 189, 8) transparent;

    border: none;

}

.nav-tabs > li > a:hover {

    border-color: rgb(248, 189, 8) rgb(248, 189, 8) rgb(248, 189, 8);

    background-color: #FFF;

    color: rgb(248, 189, 8);

}


.navbar-default {

    background-color: rgba(255, 255, 255, 0);

    border-color: rgba(255, 255, 255, 0.4);

    border-left: none;

    border-right: none;

}

 @media (min-width: 768px) and (max-width: 1420px) {

.logo {

    font-size: 16px;

}

}

@media (min-width: 768px) and (max-width: 990px) {

.navbar {

    min-height: 30px;

}

.menu li a {

    padding: 8px !important;

}

.text-banner {

    padding: 0px 0px 100px;

    margin-top: 80px;

}

.text-banner h2 {

    font-size: 45px;

}

.text-banner p {

    font-size: 20px;

}

.section-container h3 {

    font-size: 40px;

}

.header-text {

    font-size: 18px;

}



}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

 @media (min-width: 120px) and (max-width: 768px) {

.logo {

    margin: 15px 0px;

    position: absolute;

    font-size: 15px;
}

     #logoOut{
         text-decoration: none;
         color: #f8bd08;
     }

     .bgLogin{
         margin-top: 0px;
         margin-bottom: 0px;
         height: 600px;
     }

     .loginForm{
         margin-top: 150px;
     }

     .form-group{
         margin-bottom: 30px;
     }

     .headLogin{
         height: 600px;
         margin: 0;
         padding: 0;
         background:url(images/ws_Wood_Floor_bg.jpg);
         /*background-image: none;*/
         /*background: darkcyan;*/
     }






#tituloMeuPedido{
    font-size: 60px;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

 #btPedido{
    margin-left: 20%;
}

.forming button, #btEnviar{
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 0px;
}


.forming button:focus, .forming button:hover {

    border: 2px solid #333 !important;

    background-color: #f8bd08 !important;

    text-align: center;

    color: #fff;

    padding: 5px 10px;

    font-size: 20px;

    color: #333;

}


#btEnviar:focus, #btEnviar:hover {
    padding: 5px 10px;
    font-size: 20px;
}


#tituloReserva{
    font-size: 45px;
}

#menu{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.destaque{
    background-image: none;
    background-color: darkcyan;
}

#rowReserva{
    background: rgba(1,1,1,.0);
     background-color: darkcyan;
     margin: 0;
}

#txtComentario{
    margin-left: 0px;

}

.navb {

    margin-top: 17px;

    position: absolute;

    right: 0px;
    margin-right:0px;

}

.menu {

    width: 100%;

}

.menu li a {

    width: 100%;

    padding: 10px;

}

.navb {

    margin-top: 17px;

}

.navi {

    border: none;

    z-index: 2;

}

.text-banner {

    padding: 3px 0px 25px;

    margin-top: 60px;

    position: absolute;

}

.text-banner h2 {

    font-size: 31px;

    z-index: 1;

}

.text-banner p {

    font-size: 14px;

}

.menu li {

    float: none;

    width: 100%;

}

.menu li:after {

    content: '';

}

.menubox {

    background-color: #333;

}

.fullbg {

    height: 210px;

}

header {

    height: 210px;

}

.menubox {

    margin-top: 73px;

}

.welcome {

    padding: 30px 0px;

}

.section-container h3 {

    font-size: 40px;

    text-align: center;

}

.header-text {

    font-size: 16px;

    text-align: center;

}

.welcome-text p {

    font-size: 14px;

    line-height: 24px;

}

.nav > li > a {

    padding: 7px 8px;

}


.menuhead {

    float: right;

}

.menu-section {

    padding: 30px 0px;

}
.footer
{
padding: 30px 0px;
}

}


